.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.div {
  display: flex;
  justify-content: space-between;
  width: 360px;
  align-items: baseline;
}

.h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  /* margin-left: 10px; */
}

.done__fav__div{
  margin-left: 10px;
  margin-right: 20px;
}

.done__title{
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  /* margin-left: 10px; */
}


.fav__title {
  font-weight: ;
  font-size: 34px;
  text-align: center;
  /* margin-left: 10px; */
}

.input {
  border: 1px solid white;
  background-color: #252a33;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 6px 12px;
}

.input__placeholder::placeholder{
  color: rgb(189, 179, 179);
  text-align: center;
}


.button {
  background-color: #7337e2;
  border: none;
  border-radius: 40px;
  width: 40%;
  margin-left: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  justify-content: center;
  /* border-radius: 5px; */
  /* margin-top: 5px; */
  padding: 5px;
  color: white;
}

.button__hover:hover {
  background-color: #602fb9;
  color: #fff;
  cursor: pointer;
}

.button__header {
  background-color: #8f69f7;
  border: none;
  border-radius: 15px;
  /* size: 100%; */
  width: 20%;
  /* margin-left: 2px; */
  margin-bottom: 8px;
  margin-top: 10px;
  /* justify-content: center; */
  /* border-radius: 5px; */
  /* margin-top: 5px; */
  padding: 4px;
  color: white;
}

.button__hover__header:hover {
  background-color: #764bee;
  color: #fff;
  cursor: pointer;
}

.checkbox {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 2px;
  /* color: #8f69f7 */
}

