.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.div {
  display: flex;
  justify-content: space-between;
  width: 360px;
  align-items: baseline;
}

.h1 {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  /* margin-bottom: 30px; */
}

.input {
  border: nones;
  background-color: white;
  color: black;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 2px 1px;
}

.input__placeholder::placeholder{
  color: rgb(109, 105, 105);
  text-align: center;
}


.button {
  background-color: #7337e2;
  border: 1px solid #262a34;
  border-radius: 40px;
  width: 30%;
  margin-left: 2px;
  margin-bottom: 5px;
  justify-content: center;
  /* border-radius: 5px; */
  /* margin-top: 5px; */
  padding: 4px;
  color: white;
}

.button__hover:hover {
  background-color: #602fb9;
  color: #fff;
  cursor: pointer;
}

.button__header {
  background-color: #8f69f7;
  border: 1px solid #262a34;
  border-radius: 15px;
  width: 12%;
  margin-left: 2px;
  margin-bottom: 5px;
  margin-top: 4px;
  justify-content: center;
  /* border-radius: 5px; */
  /* margin-top: 5px; */
  padding: 4px;
  color: white;
}

.button__hover__header:hover {
  background-color: #764bee;
  color: #fff;
  cursor: pointer;
}

.checkbox {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 2px;
}

