.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 210px;
  max-width: 175spx;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0);
  align-items: center;
  overflow: hidden;
}

.card-image {
  /* height: 100px; */
  max-width: 125px;
  /* border-radius: 10px; */
}

.text {
  margin-top: 5px;
  margin-bottom: 5px;
}